name: H16_pusht_lowdim_rg

obs_dim: 20 # 9*2 keypoints + 2 state
action_dim: 2
keypoint_dim: 2

env_runner:
  _target_: diffusion_policy.env_runner.pusht_keypoints_ps_runner.PushTKeypointsPSRunner
  keypoint_visible_rate: ${keypoint_visible_rate}
  n_train: 0
  n_train_vis: 0
  train_start_seed: 0
  n_test: ${trial}
  n_test_vis: 10
  legacy_test: True
  test_start_seed: 100000
  max_steps: 191
  n_obs_steps: ${n_obs_steps}
  n_action_steps: ${n_action_steps}
  n_latency_steps: ${n_latency_steps}
  fps: 20
  agent_keypoints: False
  past_action: ${past_action_visible}
  constraint_key: ${constraint_type}
  n_envs: null

# dataset:
#   _target_: diffusion_policy.dataset.pusht_dataset.PushTLTLValueDataset
#   zarr_path: data/pusht/pusht_cchi_v7_replay.zarr
#   horizon: ${horizon}
#   pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
#   pad_after: ${eval:'${n_action_steps}-1'}
#   seed: 42
#   val_ratio: 0.0
#   max_train_episodes: 90
